/**
 * Variables
 */
@purple: #472A59;
@yellow: #F2CB05;
@white: #F2F2E4;
@accent: #A6837B;
@sand: #F2D888;

// another style - modern profesional look
@darkPurple: #2B1B2E;
@lightPurple: #54344D;
@white2: #FFFFD6;
@washLight: #B89E95;
@washDark: #6E444F;

// another style - playful purples and orange
// 
// 
@pinkPurple: #EF92FF;
// @lightPurple: #AF4CD6;
@purple2: #AF4CD6;
@orange: #FFA70C;
@darkRose: #59103E;

// another style - has greens, purple and orange
@orange2: #EBA717;
@darkPurple2: #730F9A;
@lightPurple2: #A500E7;
@lightGreen: #12B46B;
@green: #089A59;



@color2: @white2;
@color1: @lightPurple;

/**
 * Includes
 */
@import "mixins.import.less";
@import "../component/parties/styles/parties.import.less";
@import "animations.import.less";

/**
 * Default Styles
 */
body {
  background-color: rgba(0,0,0,.04);

  .navbar {
    background-color: #ffffff;
  }
}

a {
	text-decoration: none;
	color: @color2;
	&:hover {
		color: lighten(@color2, 10%);
	}
}

/**
 * Main Container for App
 */
.app-container {
	position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    top: 0;
}

/**
 * Google Map Container
 */
.angular-google-map-container {
	height: 100%;
  .angular-google-map {
  	height: 100%;
  }
}

/**
 * User Interface Container
 */
.ui-top-left, .ui-top-right, .ui-bot-left, .ui-bot-right {
	position: absolute;
}

.ui-top-left {
	left: 210px;
    top: 25px;
}
.ui-top-right { // zone name position
	left: 7px;
    bottom: 105px;
}
.ui-bot-left {
	top: 10px;
    left: 80px;
}
.ui-bot-right {
	bottom: 30px; 
	right: 30px;
}

/**
 * Zone Name
 */
.marker-name-alert {
    @color2Button();
    h3 {
    	margin: 0;
    }
}

/**
 * Gnarrly Logo
 */
.logo {
	@color2Button();
	a {
		color: @color2;
		&:hover {
			color: lighten(@color2, 10%);
		}
		h1 {
			margin: 0;
		}
	}
}

/**
 * User Auth + Menu
 */
#login-buttons {
	@color2Button();
}
#login-dropdown-list.accounts-dialog {
  left: -2px;
  top: 39px;
  a {
  	color: @color2;
  	float: right;
  	&:hover {
  		color: lighten(@color2, 10%);
  	}
  }
}

/**
 * Create Content Button
 */
.ui-add-btn {
	@color2Button();
	border-radius: 50%;
	width: 90px;
	height: 90px;
	text-align: center;
	a {
		font-size: 64px;
	}
}


/*******************************************
 *   REMOVE THIS AFTER NAV BAR is removed  *
 *******************************************/
#login-buttons a {
	text-decoration: none !important;
}
#login-dropdown-list.accounts-dialog {
	background-color: @color1;
}
#login-buttons .login-button, .accounts-dialog .login-button {
	background-color: @color2;
	color: @color1;
	border: 1px solid lighten(@color2, 10%);
	font-weight: bold;
	&:hover {
		background-color: lighten(@color2, 10%);
	}
}
