<section class="angular-google-map-container">
  <ui-gmap-google-map center="map.center" zoom="map.zoom" options="map.options">
    <ui-gmap-markers models="zones" coords="'location'" click="onClicked()"
                     fit="true" idkey="'_id'" doRebuildAll="true">
    </ui-gmap-markers>
  </ui-gmap-google-map>
</section>
<!-- User Interface -->
<div class="ui-top-left fade-in" data-ng-hide="layoutCtrl.mapsLoading">
  <meteor-include src="loginButtons"></meteor-include>
</div>
<!-- <div class="ui-top-right fade-in" data-ng-hide="IdxCtrl.initialPageLoading">
  <div class="marker-name-alert">
    <h3>Zone Name</h3>
  </div>
</div> -->
<div class="ui-bot-left fade-in" data-ng-hide="layoutCtrl.mapsLoading">
  <div class="logo">
    <!-- toggle map view vs. content view -->
    <a href="/"><h1>Gnarrly</h1></a>
  </div>
</div>
<div class="ui-bot-right fade-in" data-ng-hide="layoutCtrl.mapsLoading || !$root.currentUser">
  <div class="ui-add-btn">
    <a href="#">
      <i class="fa fa-plus"></i>
    </a>
  </div>
</div>
<!-- User Interface END -->